$checkboxSvg: '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M8.28571%2014L4%2010.1612L5.20857%209.0787L8.28571%2011.8273L14.7914%206L16%207.09021L8.28571%2014Z%22%20fill%3D%22%232196F3%22%2F%3E%0A%3C%2Fsvg%3E';

$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.10);
$borderRadius: 5px;

$colorBlueMain: #2196F3;
$colorBlack: #4A4A4A;
$colorGray: #A0B0B9;
$colorBlueLight: #F1FCFF;
$colorWhite: white;